.carrossel {
    width: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
    padding: 20px 0;
}


.carrossel-track {
    display: flex;
    width: max-content; /*deixa a fileira crescer com o n° de img */
    animation: rodar 15s linear infinite; 
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.carrossel-track img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 8px;
    flex-shrink: 0; /* não deixa a imagem encolher */
}

@keyframes rodar {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%); /*Anda até a metade por conta das duplicadas */
    }
}
